@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Imported from https://github.com/folke/tokyonight.nvim/blob/610179f7f12db3d08540b6cc61434db2eaecbcff/lua/tokyonight/colors.lua#L7C3-L36C20 */
	--color-bg: #24283b;
	--color-bg_dark: #1f2335;
	--color-bg: #24283b;
	--color-bg_highlight: #292e42;
	--color-terminal-black: #414868;
	--color-fg: #c0caf5;
	--color-fg_dark: #a9b1d6;
	--color-fg_gutter: #3b4261;
	--color-dark3: #545c7e;
	--color-comment: #565f89;
	--color-dark5: #737aa2;
	--color-blue0: #3d59a1;
	--color-blue: #7aa2f7;
	--color-cyan: #7dcfff;
	--color-blue1: #2ac3de;
	--color-blue2: #0db9d7;
	--color-blue5: #89ddff;
	--color-blue6: #b4f9f8;
	--color-blue7: #394b70;
	--color-magenta: #bb9af7;
	--color-magenta2: #ff007c;
	--color-purple: #9d7cd8;
	--color-orange: #ff9e64;
	--color-yellow: #e0af68;
	--color-green: #9ece6a;
	--color-green1: #73daca;
	--color-green2: #41a6b5;
	--color-teal: #1abc9c;
	--color-red: #f7768e;
	--color-red1: #db4b4b;
}

body {
	font-family: sans-serif;
	margin: 2vh 10vw;
	padding: 0;
	border: 0;
	background-color: var(--color-bg_dark);
	color: var(--color-fg);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

a {
	text-decoration: none;
	color: var(--color-fg);
}

.dashboard {
	margin-top: 8vh;
	min-height: 20vh;
	padding: 2rem;
	line-height: 1vh;
	background-color: var(--color-fg_gutter);
	color: var(--color-fg);
	border-radius: 2rem;
}

.name,
.page-title {
	font-size: 2rem;
	font-weight: 800;
}

.tagline,
.uni-link {
	color: var(--color-fg);
	text-decoration: none;
}

.nav-left,
.nav-right {
	display: flex;
	gap: 2rem;
}

.nav-left a,
.nav-right a {
	text-decoration: none;
	color: var(--color-fg_dark);
}

.nav-left a:hover,
.nav-right a:hover {
	color: var(--color-fg);
}

.home-contents {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	gap: 0.5rem;
}

.home-contents div {
	padding: 0.5rem 1.5rem;
	border-radius: 2rem;
	background-color: var(--color-bg);
}

.homecontents-langs {
	display: flex;
	justify-content: space-between;
}

.projects-container {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	justify-content: center;
}

.projects-subcontainer {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 0.5rem 1rem 0.5rem;
	border-radius: 1rem;
}

.projects-subcontainer a {
	font-weight: bold;
	text-align: right;
	padding: 2vw;
	max-width: 30%;
	min-width: 20%;
}

.contact-links {
	padding-top: 1rem;
	display: flex;
	justify-content: space-between;
}

.contactform {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.formitems {
	background-color: var(--color-fg_dark);
	color: var(--color-bg);
	border-style: none;
	min-width: 100%;
	border-radius: 1rem;
	padding: 0.5rem;
	font-weight: 700;
}

.contactform-name,
.contactform-email {
	min-height: 5vh;
}

.contactform-message {
	min-height: 10vh;
}

.sort-btn,
button {
	background-color: transparent;
	color: var(--color-fg);
	border-style: none;
	padding: 0.5rem;
}

.sort-btn {
	background-color: var(--color-bg);
}

.sort-btn:hover {
	background-color: var(--color-bg_highlight);
}

.blogpost {
	margin-top: 2rem;
	padding: 1rem;
	border-radius: 1rem;
	background-color: var(--color-bg);
}

.blogpost:hover {
	background-color: var(--color-bg_highlight);
}

.blogtitle {
	font-weight: bold;
	font-size: 1.2rem;
}

.sorting-area {
	display: flex;
}

.dropdown-list {
	background-color: var(--color-bg_highlight);
	display: flex;
	border: 20%;
	border-color: var(--color-fg);
	align-items: center;
	justify-content: center;
}

.dropdown-list button {
	color: var(--color-fg_dark);
	padding: 0.5rem;
}

.dropdown-list button:hover {
	color: var(--color-fg);
}

@media (max-width: 700px) {
	.projects-subcontainer {
		flex-direction: column;
		text-align: center;
	}

	.projects-subcontainer a {
		max-width: 100%;
		min-width: auto;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
}
