---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Me | Steve Mathew Joy"
	pubDate={new Date('February 25 2024')}
	heroImage="/blog-placeholder-2.jpg"
>
	<p>
		I am a 24 year old student and am currently residing in Brisbane, Australia.
    My first language is Malayalam, which is a South-Indian language.
    I am proficient in speaking and writing English and Hindi other than Malayalam.
    I am very keen to learn new things especially when it comes to computers and IoT.
    I got into development scenes from making Android custom ROMs and then later was introduced to the Linux world.
    My time using the softwares and tools have been very enjoyable.
    I am currently working as a UI/UX developer and Lua developer as part-time at NXTLVL roleplay GTA5 FiveM server.
	</p>
	<p>
		I am from southern part of India, Kerala to be exact.
    It is a place that upholds its value in culture. Luckily, I was able to see and participate on a few cultural events. Although India is a Hindu country, there are a big diversity in culture and beliefs from region to region. Us, Malayalis (it is the name we usually mention people from Kerala as) would never rest on a Onam day. It is a harvest festival celebrated by the people of Kerala. It is a place with a big history of literature. It is believed that Malayalam originated mainly from Tamil and Sanskrit. Thunchaththu Ezhuthachan was a malayalam devotional poet who is now considered to be the father of the language. There are many different writers and poets who contributed to the ethinicy and history of the language.
	</p>
</Layout>

<style>
	p {
		text-align: center;
	}
</style>
